---
layout: layouts/base.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 2
templateClass: project-list
---

<div class="wrapper">
  <h1 class="heading-2 mar-btm-3">Projects &amp; Passions</h1>
  {% include "projectGrid.njk" %}
</div>
