// Fonts
@font-face
    font-family: Cooper
    src: url(../fonts/CoopLT.ttf)
    font-weight: 300

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: italic
    font-weight: 300
    src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX7KVElMYYaJe8bpLHnCwDKhdTmvIRcdvfo.woff) format("woff")

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: italic
    font-weight: 400
    src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZP.woff) format("woff")

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: italic
    font-weight: 600
    src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX7KVElMYYaJe8bpLHnCwDKhdTmyIJcdvfo.woff) format("woff")

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: normal
    font-weight: 300
    src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFscg.woff) format("woff")

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: normal
    font-weight: 400
    src: local("IBM Plex Sans"), local("IBMPlexSans"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdHeEw.woff) format("woff")

@font-face
    font-display: auto
    font-family: 'IBM Plex Sans'
    font-style: normal
    font-weight: 600
    src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFscg.woff) format("woff")

// Font variables
$serif: 'Cooper', 'Times New Roman', sans-serif
$sansSerif: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif


// Fallback typography
body
    font-size: 1rem
    font-family: $sansSerif
    line-height: 1.5
    color: $text-3

// Headings
.heading-1, .heading-2, .heading-3, .heading-4, .display-1, .display-2
    font-family: $serif
    font-weight: 300
    line-height: 1.25
    letter-spacing: 0.04rem

.display-1
    font-size: 5rem

.display-2
    font-size: 4rem

.heading-1
    font-size: 3rem    

.heading-2
    font-size: 2.5rem

.heading-3
    font-size: 2rem

.heading-4
    font-size: 1.5rem

// Type modifiers
.body-display
    font-size: 2rem
    font-weight: 300
    letter-spacing: 0.04rem

.body-lg
    font-size: 1.25rem
    font-weight: 400
    line-height: 1.6

.label-lg
    font-size: 1.25rem
    font-weight: 400
    letter-spacing: 0.08rem
    line-height: 1.5
    text-transform: uppercase

.label-sm
    font-size: 0.875rem
    font-weight: 400
    letter-spacing: 0.1rem
    line-height: 1.826
    text-transform: uppercase
