*
    box-sizing: border-box
    margin: 0
    padding: 0

*::selection
    background-color: $bg-1-inverse
    color: $text-1-inverse

html
    font-size: 16px
    line-height: 24px

body
    margin: 0
    padding: 0

// [class*=col]
//     background-color: $bg-1-inverse
//     color: $text-1-inverse
//     padding: 3rem 0 !important
//     border: $border

.img-placeholder
    background-color: $bg-3
    max-width: 100%
    max-height: 100%
    width: 400px
    height: 530px

img
    width: 100%

.wrapper
    max-width: 1360px
    margin-left: auto
    margin-right: auto
    padding-left: 3rem
    padding-right: 3rem

// Grid overwites
.row
    &.gapless
        grid-gap: 0

    // For a gapless effect for grid with column borders
    // use with .outline on each child column
    &.gapless-shim
        grid-gap: 0.0625rem

a
    color: var(--light-accent)
    transition: color 100ms ease-in-out
    text-decoration-thickness: 1.5px
    text-underline-offset: 0.2em
    &:hover
        text-decoration: none
    &:visited
        color: #b953d9

// Header
.site-branding
    max-height: 2.5rem
    width: auto
.main-nav
    &>ul
        margin: 0
        padding: 0
    .nav-item
        list-style: none
        display: inline-block
    a
        display: inline-block
        margin-left: 2rem
        text-decoration: none
        text-underline-offset: 0.5em
        color: var(--dark-accent)
        &:hover
            text-decoration: underline
        &:visited
            color: var(--dark-accent)

.post-tag
    background-color: var(--dark-accent)
    color: var(--text-1)
    padding: 0.25rem 0.5rem
    border-radius: 0.5em
    font-size: 0.75em
    text-decoration: none
    opacity: 0.9
    &:hover
        opacity: 1
    &:visited
        color: var(--text-1)

// Footer
.social-nav
    display: flex
    justify-content: center

    a
        margin: 0.5rem
    img
        width: auto

.footer
    position: relative
    &::before
        content: ''
        background-image: url(../img/coffee-ring.svg)
        width: 250px
        height: 250px
        position: absolute
        left: 50%
        top: 50%
        opacity: 0.8
        transform: translate(-155px, -125px)
        z-index: 1
    
    .wrapper
        position: relative
        z-index: 2
