*
    box-sizing: border-box
    margin: 0
    padding: 0

*::selection
    background-color: $bg-1-inverse
    color: $text-1-inverse

html
    font-size: 100%

body
    margin: 0
    padding: 0

// [class*=col]
//     background-color: $bg-1-inverse
//     color: $text-1-inverse
//     padding: 3rem 0 !important
//     border: $border

.img-placeholder
    background-color: $bg-3
    max-width: 100%
    max-height: 100%
    width: 400px
    height: 530px

img
    width: 100%

.wrapper
    max-width: 1360px
    margin-left: auto
    margin-right: auto
    padding-left: 3rem
    padding-right: 3rem

// Grid overwites
.row
    &.gapless
        grid-gap: 0

    // For a gapless effect for grid with column borders
    // use with .outline on each child column
    &.gapless-shim
        grid-gap: 0.0625rem

// Forms
input, select, textarea
    display: block
    width: 100%
    padding: 1rem
    margin-bottom: 2rem
    background: $bg-3-inverse
    border: none
    border-bottom: 1px solid $bg-3
    color: $text-2-inverse
    font-size: 1rem
    &:focus
        border-bottom: 1px solid $bg-1
label
    display: block
    margin-bottom: 0.25rem

input[type="submit"]
    font-size: 1rem
    background-color: $bg-3
    transition: all 150ms ease-in-out
    cursor: pointer
    &:hover
        background-color: $bg-1

a
    color: $text-2-inverse
    transition: color 100ms ease-in-out
    &:hover
        color: $text-1-inverse

// Header
.site-branding
    max-height: 2.5rem
    width: auto
.main-nav
    a
        display: inline-block
        margin-right: 3rem
        text-decoration: none

// Footer
.social-nav
    display: flex
    justify-content: center

    a
        margin: 0.5rem
    img
        width: auto