
// Blur - Backdrop Filter Blur
.bg-blur-1
  backdrop-filter: blur(1rem)


// Padding Classes
@for $i from 0 through 10
  .pad-#{$i}
    padding: #{$i}rem
  .pad-top-#{$i}
    padding-top: #{$i}rem
  .pad-right-#{$i}
    padding-right: #{$i}rem
  .pad-btm-#{$i}
    padding-bottom: #{$i}rem
  .pad-left-#{$i}
    padding-left: #{$i}rem
  
  .mar-#{$i}
    margin: #{$i}rem
  .mar-top-#{$i}
    margin-top: #{$i}rem
  .mar-right-#{$i}
    margin-right: #{$i}rem
  .mar-btm-#{$i}
    margin-bottom: #{$i}rem
  .mar-left-#{$i}
    margin-left: #{$i}rem
     
.pad-0125
  padding: .125rem
.pad-025
  padding: .25rem
.pad-05
  padding: .5rem
.pad-075
  padding: .75rem
  
.pad-1_5
  padding: 1.5rem

.pad-top-0125
  padding-top: .125rem
.pad-top-025
  padding-top: .25rem
.pad-top-05
  padding-top: .5rem
.pad-top-075
  padding-top: .75rem

.pad-right-0125
  padding-right: .125rem
.pad-right-025
  padding-right: .25rem
.pad-right-05
  padding-right: .5rem
.pad-right-075
  padding-right: .75rem

.pad-btm-0125
  padding-bottom: .125rem
.pad-btm-025
  padding-bottom: .25rem
.pad-btm-05
  padding-bottom: .5rem
.pad-btm-075
  padding-bottom: .75rem

.pad-left-0125
  padding-left: .125rem
.pad-left-025
  padding-left: .25rem
.pad-left-05
  padding-left: .5rem
.pad-left-075
  padding-left: .75rem


// Margin Classes
.mar-0125
  margin: .125rem
.mar-025
  margin: .25rem
.mar-05
  margin: .5rem
.mar-075
  margin: .75rem

.mar-top-0125
  margin-top: .125rem
.mar-top-025
  margin-top: .25rem
.mar-top-05
  margin-top: .5rem
.mar-top-075
  margin-top: .75rem

.mar-right-0125
  margin-right: .125rem
.mar-right-025
  margin-right: .25rem
.mar-right-05
  margin-right: .5rem
.mar-right-075
  margin-right: .75rem

.mar-btm-0125
  margin-bottom: .125rem
.mar-btm-025
  margin-bottom: .25rem
.mar-btm-05
  margin-bottom: .5rem
.mar-btm-075
  margin-bottom: .75rem

.mar-left-0125
  margin-left: .125rem
.mar-left-025
  margin-left: .25rem
.mar-left-05
  margin-left: .5rem
.mar-left-075
  margin-left: .75rem



// Radius Classes
.radius-025
  border-radius: .25rem
.radius-05
  border-radius: .5rem
.radius-075
  border-radius: .75rem
.radius-1
  border-radius: 1rem
.radius-1_25
  border-radius: 1.25rem
.radius-1_5
  border-radius: 1.5rem
.radius-2
  border-radius: 2rem
.radius-3
  border-radius: 3rem
.radius-1000
  border-radius: 1000rem
.radius-tl-025
  border-top-left-radius: .25rem
.radius-tl-05
  border-top-left-radius: .5rem
.radius-tl-075
  border-top-left-radius: .75rem
.radius-tl-1
  border-top-left-radius: 1rem
.radius-tl-1_25
  border-top-left-radius: 1.25rem
.radius-tl-1_5
  border-top-left-radius: 1.5rem
.radius-tl-2
  border-top-left-radius: 2rem
.radius-tl-3
  border-top-left-radius: 3rem
.radius-tl-1000
  border-top-left-radius: 1000rem
.radius-tr-025
  border-top-right-radius: .25rem
.radius-tr-05
  border-top-right-radius: .5rem
.radius-tr-075
  border-top-right-radius: .75rem
.radius-tr-1
  border-top-right-radius: 1rem
.radius-tr-1_25
  border-top-right-radius: 1.25rem
.radius-tr-1_5
  border-top-right-radius: 1.5rem
.radius-tr-2
  border-top-right-radius: 2rem
.radius-tr-3
  border-top-right-radius: 3rem
.radius-tr-1000
  border-top-right-radius: 1000rem
.radius-bl-025
  border-bottom-left-radius: .25rem
.radius-bl-05
  border-bottom-left-radius: .5rem
.radius-bl-075
  border-bottom-left-radius: .75rem
.radius-bl-1
  border-bottom-left-radius: 1rem
.radius-bl-1_25
  border-bottom-left-radius: 1.25rem
.radius-bl-1_5
  border-bottom-left-radius: 1.5rem
.radius-bl-2
  border-bottom-left-radius: 2rem
.radius-bl-3
  border-bottom-left-radius: 3rem
.radius-bl-1000
  border-bottom-left-radius: 1000rem
.radius-br-025
  border-bottom-right-radius: .25rem
.radius-br-05
  border-bottom-right-radius: .5rem
.radius-br-075
  border-bottom-right-radius: .75rem
.radius-br-1
  border-bottom-right-radius: 1rem
.radius-br-1_25
  border-bottom-right-radius: 1.25rem
.radius-br-1_5
  border-bottom-right-radius: 1.5rem
.radius-br-2
  border-bottom-right-radius: 2rem
.radius-br-3
  border-bottom-right-radius: 3rem
.radius-br-1000
  border-bottom-right-radius: 1000rem
.radius-t-025
  border-top-left-radius: .25rem
  border-top-right-radius: .25rem
.radius-t-05
  border-top-left-radius: .5rem
  border-top-right-radius: .5rem
.radius-t-075
  border-top-left-radius: .75rem
  border-top-right-radius: .75rem
.radius-t-1
  border-top-left-radius: 1rem
  border-top-right-radius: 1rem
.radius-t-1_25
  border-top-left-radius: 1.25rem
  border-top-right-radius: 1.25rem
.radius-t-1_5
  border-top-left-radius: 1.5rem
  border-top-right-radius: 1.5rem
.radius-t-2
  border-top-left-radius: 2rem
  border-top-right-radius: 2rem
.radius-t-3
  border-top-left-radius: 3rem
  border-top-right-radius: 3rem
.radius-t-1000
  border-top-left-radius: 1000rem
  border-top-right-radius: 1000rem
.radius-b-025
  border-bottom-left-radius: .25rem
  border-bottom-right-radius: .25rem
.radius-b-05
  border-bottom-left-radius: .5rem
  border-bottom-right-radius: .5rem
.radius-b-075
  border-bottom-left-radius: .75rem
  border-bottom-right-radius: .75rem
.radius-b-1
  border-bottom-left-radius: 1rem
  border-bottom-right-radius: 1rem
.radius-b-1_25
  border-bottom-left-radius: 1.25rem
  border-bottom-right-radius: 1.25rem
.radius-b-1_5
  border-bottom-left-radius: 1.5rem
  border-bottom-right-radius: 1.5rem
.radius-b-2
  border-bottom-left-radius: 2rem
  border-bottom-right-radius: 2rem
.radius-b-3
  border-bottom-left-radius: 3rem
  border-bottom-right-radius: 3rem
.radius-b-1000
  border-bottom-left-radius: 1000rem
  border-bottom-right-radius: 1000rem

// Border Classes
.border
  border: 1px solid var(--text-2-inverse)
.border-top
  border-top: 1px solid var(--text-2-inverse)
.border-right
  border-right: 1px solid var(--text-2-inverse)
.border-btm
  border-bottom: 1px solid var(--text-2-inverse)
.border-left
  border-left: 1px solid var(--text-2-inverse)

// Border Shadow Classes
.border-shadow
  box-shadow: -1px 1px 0px 0px var(--text-2-inverse) inset, 1px -1px 0px 0px var(--text-2-inverse) inset
.border-top-shadow
  box-shadow: 0px 1px 0px 0px var(--text-2-inverse) inset
.border-right-shadow
  box-shadow: -1px 0px 0px 0px var(--text-2-inverse) inset
.border-btm-shadow
  box-shadow: 0px -1px 0px 0px var(--text-2-inverse) inset
.border-left-shadow
  box-shadow: 1px 0px 0px 0px var(--text-2-inverse) inset




// Position
.sc-absolute
  position: absolute
.sc-relative
  position: relative
.sc-fixed
  position: fixed
.sc-sticky
  position: sticky
.sc-top-0
  top: 0
.sc-bottom-0
  bottom: 0
.sc-left-0
  left: 0
.sc-right-0
  right: 0

.fit-content
  width: fit-content
.max-content
  width: max-content
.min-content
  width: min-content

// Flex
.flex
  display: flex
.direction-row
  flex-direction: row
.direction-col
  flex-direction: column
.direction-col-rev
  flex-direction: column-reverse

.align-start
  align-items: flex-start
.align-center
  align-items: center
.align-end
  align-items: flex-end

.justify-center
  justify-content: center
.justify-start
  justify-content: flex-start
.justify-end
  justify-content: flex-end
.justify-space-around
  justify-content: space-around
.justify-space-between
  justify-content: space-between

.block
  display: block
.block-child > *
  display: block


// Text Alignment
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right


// .sc-hide
//   display: none
//   visibility: hidden
