@media only screen and (max-width: 760px)
  .header, main, .footer
    &::after
      right: 1rem

    &::before
      left: 1rem

  header .social
    display: none

  .project
    article > .row
      & > .col-3:first-child
        display: none
    
    .article-body
      grid-column: auto/span 12

@media only screen and (max-width: 625px)
  header .wrapper
    flex-direction: column

    .brand
      margin-right: 0

      .logo
        max-height: 2rem

    nav
      margin-top: 1rem

      a
        font-size: 1rem
      
      li:first-child
        a
          margin-left: 0
