@media only screen and (max-width: 960px)
  html
    font-size: 85%
  .main-nav 
    margin-top: 1rem
    a
      display: block
      margin-bottom: 0.5rem
      font-size: 1rem

  .display-1
    font-size: 4rem

  .display-2
    font-size: 3rem

  .heading-1
    font-size: 2.5rem

  .heading-2
    font-size: 2rem

  .heading-3
    font-size: 1.5rem

  .heading-4
    font-size: 1.25rem

@media only screen and (max-width: 500px)
  header .wrapper
    flex-direction: column

    nav
      margin-top: 1.5rem

      li:first-child
        a
          margin-left: 0
