.btn
  background-color: transparent
  border: $outline
  border-radius: 20rem
  color: $text-secondary
  cursor: pointer
  display: inline-block
  font-family: $monospace
  font-size: 0.875rem
  letter-spacing: 0.1rem
  padding: 0.5rem 2rem
  text-decoration: none
  text-transform: uppercase
  transition: all 150ms ease-in-out
  -webkit-appearance: none

  &:has(> .btn--icon)
    align-items: center
    display: flex
    justify-content: space-between
    padding: 0.5rem 1.25rem

    &:hover
      .btn--icon
        opacity: 1
        width: 14px
        svg
          min-height: 0.7rem
          transform: scale(1)
      .btn--label
        margin-right: 1.75rem

    .btn--label
      margin-right: 0
      transition: margin 150ms ease-in-out


  &:hover
    border-color: $accent-dark
    color: $accent-dark

  .btn--icon
    opacity: 0
    transition: opacity 150ms ease-in-out 50ms

    svg
      fill: $icon-secondary
      min-height: 0
      transition: all 150ms ease-in-out
      transform: scale(0)
      transform-origin: center

.card
  border: $border-subtle
  border-radius: 1rem
  color: $text-secondary
  display: flex
  flex-direction: column
  margin-bottom: 1.5rem
  text-decoration: none
  transition: all 150ms ease-in-out

  .card--header
    border-bottom: $border-subtle
    border-color: inherit
    display: flex
    flex-direction: column
    padding: 1.25rem 1.25rem

    &:has(.btn)
      align-items: center
      flex-direction: row
      justify-content: space-between

    .card--title
      color: $text-primary
      margin-bottom: 0
      margin-top: 0

  .card--body
    align-items: flex-end
    display: flex
    flex-direction: column
    height: 100% // equalize shorter cards
    justify-content: space-between
    padding: 1.25rem 1.25rem

    & > *:last-child
      margin-bottom: 0

    svg
      fill: $icon-interactive

  &:not(div):hover // interactive cards
    background-color: var(--background-hover)
    color: $text-primary

    .btn
      border-color: $accent-dark
      color: $accent-dark

      .btn--icon
        opacity: 1
        width: 14px

        svg
          fill: $accent-dark
          min-height: 0.7rem
          transform: scale(1)

      .btn--label
        margin-right: 1.75rem

.card-grid
  gap: 1rem

  .card
    grid-column: auto / span 4
    margin-bottom: 0

    @media only screen and (max-width: 960px)
      grid-column: auto / span 6
