/*
    Keep in mind:
    Site will auto include Carbon Components CSS
    before main css is loaded. These sass files should only be
    used to overwrite Carbon styles
 */
:root {
  --min: 20rem;
  --xxxs: 30rem;
  --xxs: 40rem;
  --xs: 50rem;
  --sm: 60rem;
  --md: 70rem;
  --lg: 80rem;
  --xl: 90rem;
  --xxl: 100rem;
  --xxxl: 110rem;
  --max: 120rem; }

.header {
  grid-area: header; }

.content {
  grid-area: content;
  position: relative; }

.sc-footer {
  grid-area: footer; }

.main {
  grid-area: main; }

.aside-left {
  grid-area: left;
  position: relative;
  width: 18rem; }

.aside-right {
  grid-area: right;
  position: relative; }

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "content" "footer";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .body.no-footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "content";
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "main";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .content.content-left {
    display: grid;
    grid-template-columns: 18rem calc(100% - 18rem);
    grid-template-rows: auto;
    grid-template-areas: "left main"; }
  .content.content-right {
    display: grid;
    grid-template-columns: auto 18rem;
    grid-template-rows: auto;
    grid-template-areas: "main right"; }
  .content.content-left.content-right {
    display: grid;
    grid-template-columns: 18rem calc(100% - 36rem) 18rem;
    grid-template-rows: auto;
    grid-template-areas: "left main right"; }
  .content > .row {
    padding-left: 3rem;
    padding-right: 3rem;
    -webkit-transition: padding 250ms ease-in-out;
    -o-transition: padding 250ms ease-in-out;
    transition: padding 250ms ease-in-out; }
  .content.condensed > .row {
    padding-left: 6rem;
    padding-right: 6rem; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2rem; }
  .row.full-width {
    padding-left: 0;
    padding-right: 0; }

.col, .col-1 {
  grid-column: auto / span 1; }

.col-2 {
  grid-column: auto / span 2; }

.col-3 {
  grid-column: auto / span 3; }

.col-4 {
  grid-column: auto / span 4; }

.col-5 {
  grid-column: auto / span 5; }

.col-6 {
  grid-column: auto / span 6; }

.col-7 {
  grid-column: auto / span 7; }

.col-8 {
  grid-column: auto / span 8; }

.col-9 {
  grid-column: auto / span 9; }

.col-10 {
  grid-column: auto / span 10; }

.col-11 {
  grid-column: auto / span 11; }

.col-12 {
  grid-column: auto / span 12; }

@media only screen and (min-width: 1921px) {
  .max-col, .max-col-1 {
    grid-column: auto / span 1; }
  .max-col-2 {
    grid-column: auto / span 2; }
  .max-col-3 {
    grid-column: auto / span 3; }
  .max-col-4 {
    grid-column: auto / span 4; }
  .max-col-5 {
    grid-column: auto / span 5; }
  .max-col-6 {
    grid-column: auto / span 6; }
  .max-col-7 {
    grid-column: auto / span 7; }
  .max-col-8 {
    grid-column: auto / span 8; }
  .max-col-9 {
    grid-column: auto / span 9; }
  .max-col-10 {
    grid-column: auto / span 10; }
  .max-col-11 {
    grid-column: auto / span 11; }
  .max-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (min-width: 1760px) {
  .xxxl-col, .xxxl-col-1 {
    grid-column: auto / span 1; }
  .xxxl-col-2 {
    grid-column: auto / span 2; }
  .xxxl-col-3 {
    grid-column: auto / span 3; }
  .xxxl-col-4 {
    grid-column: auto / span 4; }
  .xxxl-col-5 {
    grid-column: auto / span 5; }
  .xxxl-col-6 {
    grid-column: auto / span 6; }
  .xxxl-col-7 {
    grid-column: auto / span 7; }
  .xxxl-col-8 {
    grid-column: auto / span 8; }
  .xxxl-col-9 {
    grid-column: auto / span 9; }
  .xxxl-col-10 {
    grid-column: auto / span 10; }
  .xxxl-col-11 {
    grid-column: auto / span 11; }
  .xxxl-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 1600px) {
  .xxl-col, .xxl-col-1 {
    grid-column: auto / span 1; }
  .xxl-col-2 {
    grid-column: auto / span 2; }
  .xxl-col-3 {
    grid-column: auto / span 3; }
  .xxl-col-4 {
    grid-column: auto / span 4; }
  .xxl-col-5 {
    grid-column: auto / span 5; }
  .xxl-col-6 {
    grid-column: auto / span 6; }
  .xxl-col-7 {
    grid-column: auto / span 7; }
  .xxl-col-8 {
    grid-column: auto / span 8; }
  .xxl-col-9 {
    grid-column: auto / span 9; }
  .xxl-col-10 {
    grid-column: auto / span 10; }
  .xxl-col-11 {
    grid-column: auto / span 11; }
  .xxl-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 1440px) {
  .xl-col, .xl-col-1 {
    grid-column: auto / span 1; }
  .xl-col-2 {
    grid-column: auto / span 2; }
  .xl-col-3 {
    grid-column: auto / span 3; }
  .xl-col-4 {
    grid-column: auto / span 4; }
  .xl-col-5 {
    grid-column: auto / span 5; }
  .xl-col-6 {
    grid-column: auto / span 6; }
  .xl-col-7 {
    grid-column: auto / span 7; }
  .xl-col-8 {
    grid-column: auto / span 8; }
  .xl-col-9 {
    grid-column: auto / span 9; }
  .xl-col-10 {
    grid-column: auto / span 10; }
  .xl-col-11 {
    grid-column: auto / span 11; }
  .xl-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 1280px) {
  .content > .row {
    padding-left: 2rem;
    padding-right: 2rem; }
  .content.condensed > .row {
    padding-left: 3rem;
    padding-right: 3rem; }
  .lg-col, .lg-col-1 {
    grid-column: auto / span 1; }
  .lg-col-2 {
    grid-column: auto / span 2; }
  .lg-col-3 {
    grid-column: auto / span 3; }
  .lg-col-4 {
    grid-column: auto / span 4; }
  .lg-col-5 {
    grid-column: auto / span 5; }
  .lg-col-6 {
    grid-column: auto / span 6; }
  .lg-col-7 {
    grid-column: auto / span 7; }
  .lg-col-8 {
    grid-column: auto / span 8; }
  .lg-col-9 {
    grid-column: auto / span 9; }
  .lg-col-10 {
    grid-column: auto / span 10; }
  .lg-col-11 {
    grid-column: auto / span 11; }
  .lg-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 1120px) {
  .row {
    grid-gap: 1rem; }
  .md-col, .md-col-1 {
    grid-column: auto / span 1; }
  .md-col-2 {
    grid-column: auto / span 2; }
  .md-col-3 {
    grid-column: auto / span 3; }
  .md-col-4 {
    grid-column: auto / span 4; }
  .md-col-5 {
    grid-column: auto / span 5; }
  .md-col-6 {
    grid-column: auto / span 6; }
  .md-col-7 {
    grid-column: auto / span 7; }
  .md-col-8 {
    grid-column: auto / span 8; }
  .md-col-9 {
    grid-column: auto / span 9; }
  .md-col-10 {
    grid-column: auto / span 10; }
  .md-col-11 {
    grid-column: auto / span 11; }
  .md-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 960px) {
  .content.content-left, .content.content-right, .content.content-left.content-right {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "main"; }
  .panel-right {
    display: none; }
  .sm-col, .sm-col-1 {
    grid-column: auto / span 1; }
  .sm-col-2 {
    grid-column: auto / span 2; }
  .sm-col-3 {
    grid-column: auto / span 3; }
  .sm-col-4 {
    grid-column: auto / span 4; }
  .sm-col-5 {
    grid-column: auto / span 5; }
  .sm-col-6 {
    grid-column: auto / span 6; }
  .sm-col-7 {
    grid-column: auto / span 7; }
  .sm-col-8 {
    grid-column: auto / span 8; }
  .sm-col-9 {
    grid-column: auto / span 9; }
  .sm-col-10 {
    grid-column: auto / span 10; }
  .sm-col-11 {
    grid-column: auto / span 11; }
  .sm-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 800px) {
  .xs-col, .xs-col-1 {
    grid-column: auto / span 1; }
  .xs-col-2 {
    grid-column: auto / span 2; }
  .xs-col-3 {
    grid-column: auto / span 3; }
  .xs-col-4 {
    grid-column: auto / span 4; }
  .xs-col-5 {
    grid-column: auto / span 5; }
  .xs-col-6 {
    grid-column: auto / span 6; }
  .xs-col-7 {
    grid-column: auto / span 7; }
  .xs-col-8 {
    grid-column: auto / span 8; }
  .xs-col-9 {
    grid-column: auto / span 9; }
  .xs-col-10 {
    grid-column: auto / span 10; }
  .xs-col-11 {
    grid-column: auto / span 11; }
  .xs-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 640px) {
  .content > .row {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .content.condensed > .row {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .xxs-col, .xxs-col-1 {
    grid-column: auto / span 1; }
  .xxs-col-2 {
    grid-column: auto / span 2; }
  .xxs-col-3 {
    grid-column: auto / span 3; }
  .xxs-col-4 {
    grid-column: auto / span 4; }
  .xxs-col-5 {
    grid-column: auto / span 5; }
  .xxs-col-6 {
    grid-column: auto / span 6; }
  .xxs-col-7 {
    grid-column: auto / span 7; }
  .xxs-col-8 {
    grid-column: auto / span 8; }
  .xxs-col-9 {
    grid-column: auto / span 9; }
  .xxs-col-10 {
    grid-column: auto / span 10; }
  .xxs-col-11 {
    grid-column: auto / span 11; }
  .xxs-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 480px) {
  .xxxs-col, .xxxs-col-1 {
    grid-column: auto / span 1; }
  .xxxs-col-2 {
    grid-column: auto / span 2; }
  .xxxs-col-3 {
    grid-column: auto / span 3; }
  .xxxs-col-4 {
    grid-column: auto / span 4; }
  .xxxs-col-5 {
    grid-column: auto / span 5; }
  .xxxs-col-6 {
    grid-column: auto / span 6; }
  .xxxs-col-7 {
    grid-column: auto / span 7; }
  .xxxs-col-8 {
    grid-column: auto / span 8; }
  .xxxs-col-9 {
    grid-column: auto / span 9; }
  .xxxs-col-10 {
    grid-column: auto / span 10; }
  .xxxs-col-11 {
    grid-column: auto / span 11; }
  .xxxs-col-12 {
    grid-column: auto / span 12; } }

@media only screen and (max-width: 320px) {
  .min-col, .min-col-1 {
    grid-column: auto / span 1; }
  .min-col-2 {
    grid-column: auto / span 2; }
  .min-col-3 {
    grid-column: auto / span 3; }
  .min-col-4 {
    grid-column: auto / span 4; }
  .min-col-5 {
    grid-column: auto / span 5; }
  .min-col-6 {
    grid-column: auto / span 6; }
  .min-col-7 {
    grid-column: auto / span 7; }
  .min-col-8 {
    grid-column: auto / span 8; }
  .min-col-9 {
    grid-column: auto / span 9; }
  .min-col-10 {
    grid-column: auto / span 10; }
  .min-col-11 {
    grid-column: auto / span 11; }
  .min-col-12 {
    grid-column: auto / span 12; } }

.col-start-1 {
  grid-column-start: 1; }

.col-start-2 {
  grid-column-start: 2; }

.col-start-3 {
  grid-column-start: 3; }

.col-start-4 {
  grid-column-start: 4; }

.col-start-5 {
  grid-column-start: 5; }

.col-start-6 {
  grid-column-start: 6; }

.col-start-7 {
  grid-column-start: 7; }

.col-start-8 {
  grid-column-start: 8; }

.col-start-9 {
  grid-column-start: 9; }

.col-start-10 {
  grid-column-start: 10; }

.col-start-11 {
  grid-column-start: 11; }

.col-start-12 {
  grid-column-start: 12; }

@media only screen and (min-width: 1921px) {
  .max-col-start-1 {
    grid-column-start: 1; }
  .max-col-start-2 {
    grid-column-start: 2; }
  .max-col-start-3 {
    grid-column-start: 3; }
  .max-col-start-4 {
    grid-column-start: 4; }
  .max-col-start-5 {
    grid-column-start: 5; }
  .max-col-start-6 {
    grid-column-start: 6; }
  .max-col-start-7 {
    grid-column-start: 7; }
  .max-col-start-8 {
    grid-column-start: 8; }
  .max-col-start-9 {
    grid-column-start: 9; }
  .max-col-start-10 {
    grid-column-start: 10; }
  .max-col-start-11 {
    grid-column-start: 11; }
  .max-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 1760px) {
  .xxxl-col-start-1 {
    grid-column-start: 1; }
  .xxxl-col-start-2 {
    grid-column-start: 2; }
  .xxxl-col-start-3 {
    grid-column-start: 3; }
  .xxxl-col-start-4 {
    grid-column-start: 4; }
  .xxxl-col-start-5 {
    grid-column-start: 5; }
  .xxxl-col-start-6 {
    grid-column-start: 6; }
  .xxxl-col-start-7 {
    grid-column-start: 7; }
  .xxxl-col-start-8 {
    grid-column-start: 8; }
  .xxxl-col-start-9 {
    grid-column-start: 9; }
  .xxxl-col-start-10 {
    grid-column-start: 10; }
  .xxxl-col-start-11 {
    grid-column-start: 11; }
  .xxxl-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 1600px) {
  .xxl-col-start-1 {
    grid-column-start: 1; }
  .xxl-col-start-2 {
    grid-column-start: 2; }
  .xxl-col-start-3 {
    grid-column-start: 3; }
  .xxl-col-start-4 {
    grid-column-start: 4; }
  .xxl-col-start-5 {
    grid-column-start: 5; }
  .xxl-col-start-6 {
    grid-column-start: 6; }
  .xxl-col-start-7 {
    grid-column-start: 7; }
  .xxl-col-start-8 {
    grid-column-start: 8; }
  .xxl-col-start-9 {
    grid-column-start: 9; }
  .xxl-col-start-10 {
    grid-column-start: 10; }
  .xxl-col-start-11 {
    grid-column-start: 11; }
  .xxl-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 1440px) {
  .xl-col-start-1 {
    grid-column-start: 1; }
  .xl-col-start-2 {
    grid-column-start: 2; }
  .xl-col-start-3 {
    grid-column-start: 3; }
  .xl-col-start-4 {
    grid-column-start: 4; }
  .xl-col-start-5 {
    grid-column-start: 5; }
  .xl-col-start-6 {
    grid-column-start: 6; }
  .xl-col-start-7 {
    grid-column-start: 7; }
  .xl-col-start-8 {
    grid-column-start: 8; }
  .xl-col-start-9 {
    grid-column-start: 9; }
  .xl-col-start-10 {
    grid-column-start: 10; }
  .xl-col-start-11 {
    grid-column-start: 11; }
  .xl-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 1280px) {
  .lg-col-start-1 {
    grid-column-start: 1; }
  .lg-col-start-2 {
    grid-column-start: 2; }
  .lg-col-start-3 {
    grid-column-start: 3; }
  .lg-col-start-4 {
    grid-column-start: 4; }
  .lg-col-start-5 {
    grid-column-start: 5; }
  .lg-col-start-6 {
    grid-column-start: 6; }
  .lg-col-start-7 {
    grid-column-start: 7; }
  .lg-col-start-8 {
    grid-column-start: 8; }
  .lg-col-start-9 {
    grid-column-start: 9; }
  .lg-col-start-10 {
    grid-column-start: 10; }
  .lg-col-start-11 {
    grid-column-start: 11; }
  .lg-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 1120px) {
  .md-col-start-1 {
    grid-column-start: 1; }
  .md-col-start-2 {
    grid-column-start: 2; }
  .md-col-start-3 {
    grid-column-start: 3; }
  .md-col-start-4 {
    grid-column-start: 4; }
  .md-col-start-5 {
    grid-column-start: 5; }
  .md-col-start-6 {
    grid-column-start: 6; }
  .md-col-start-7 {
    grid-column-start: 7; }
  .md-col-start-8 {
    grid-column-start: 8; }
  .md-col-start-9 {
    grid-column-start: 9; }
  .md-col-start-10 {
    grid-column-start: 10; }
  .md-col-start-11 {
    grid-column-start: 11; }
  .md-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 960px) {
  .sm-col-start-1 {
    grid-column-start: 1; }
  .sm-col-start-2 {
    grid-column-start: 2; }
  .sm-col-start-3 {
    grid-column-start: 3; }
  .sm-col-start-4 {
    grid-column-start: 4; }
  .sm-col-start-5 {
    grid-column-start: 5; }
  .sm-col-start-6 {
    grid-column-start: 6; }
  .sm-col-start-7 {
    grid-column-start: 7; }
  .sm-col-start-8 {
    grid-column-start: 8; }
  .sm-col-start-9 {
    grid-column-start: 9; }
  .sm-col-start-10 {
    grid-column-start: 10; }
  .sm-col-start-11 {
    grid-column-start: 11; }
  .sm-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 800px) {
  .xs-col-start-1 {
    grid-column-start: 1; }
  .xs-col-start-2 {
    grid-column-start: 2; }
  .xs-col-start-3 {
    grid-column-start: 3; }
  .xs-col-start-4 {
    grid-column-start: 4; }
  .xs-col-start-5 {
    grid-column-start: 5; }
  .xs-col-start-6 {
    grid-column-start: 6; }
  .xs-col-start-7 {
    grid-column-start: 7; }
  .xs-col-start-8 {
    grid-column-start: 8; }
  .xs-col-start-9 {
    grid-column-start: 9; }
  .xs-col-start-10 {
    grid-column-start: 10; }
  .xs-col-start-11 {
    grid-column-start: 11; }
  .xs-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 640px) {
  .xxs-col-start-1 {
    grid-column-start: 1; }
  .xxs-col-start-2 {
    grid-column-start: 2; }
  .xxs-col-start-3 {
    grid-column-start: 3; }
  .xxs-col-start-4 {
    grid-column-start: 4; }
  .xxs-col-start-5 {
    grid-column-start: 5; }
  .xxs-col-start-6 {
    grid-column-start: 6; }
  .xxs-col-start-7 {
    grid-column-start: 7; }
  .xxs-col-start-8 {
    grid-column-start: 8; }
  .xxs-col-start-9 {
    grid-column-start: 9; }
  .xxs-col-start-10 {
    grid-column-start: 10; }
  .xxs-col-start-11 {
    grid-column-start: 11; }
  .xxs-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 480px) {
  .xxxs-col-start-1 {
    grid-column-start: 1; }
  .xxxs-col-start-2 {
    grid-column-start: 2; }
  .xxxs-col-start-3 {
    grid-column-start: 3; }
  .xxxs-col-start-4 {
    grid-column-start: 4; }
  .xxxs-col-start-5 {
    grid-column-start: 5; }
  .xxxs-col-start-6 {
    grid-column-start: 6; }
  .xxxs-col-start-7 {
    grid-column-start: 7; }
  .xxxs-col-start-8 {
    grid-column-start: 8; }
  .xxxs-col-start-9 {
    grid-column-start: 9; }
  .xxxs-col-start-10 {
    grid-column-start: 10; }
  .xxxs-col-start-11 {
    grid-column-start: 11; }
  .xxxs-col-start-12 {
    grid-column-start: 12; } }

@media only screen and (max-width: 320px) {
  .min-col-start-1 {
    grid-column-start: 1; }
  .min-col-start-2 {
    grid-column-start: 2; }
  .min-col-start-3 {
    grid-column-start: 3; }
  .min-col-start-4 {
    grid-column-start: 4; }
  .min-col-start-5 {
    grid-column-start: 5; }
  .min-col-start-6 {
    grid-column-start: 6; }
  .min-col-start-7 {
    grid-column-start: 7; }
  .min-col-start-8 {
    grid-column-start: 8; }
  .min-col-start-9 {
    grid-column-start: 9; }
  .min-col-start-10 {
    grid-column-start: 10; }
  .min-col-start-11 {
    grid-column-start: 11; }
  .min-col-start-12 {
    grid-column-start: 12; } }

/* CSS color scheme */
:root {
  --text-1: #13131B;
  --text-2: #3B3D4E;
  --text-3: #686D80;
  --text-1-inverse: #FFFFFF;
  --text-2-inverse: #D5DBE6;
  --text-3-inverse: #9BA2B3;
  --bg-1: #FFFFFF;
  --bg-2: #F5F8FF;
  --bg-3: #D5DBE6;
  --bg-1-inverse: #07070D;
  --bg-2-inverse: #13131B;
  --bg-3-inverse: #262734; }

.border {
  border: 0.0625rem solid #B7BECC; }

.border-inverse {
  border: 0.0625rem solid #3B3D4E; }

.outline {
  outline: 0.0625rem solid #B7BECC; }

.outline-inverse {
  outline: 0.0625rem solid #3B3D4E; }

.bg-1 {
  background-color: var(--bg-1); }

.bg-1-inverse {
  background-color: var(--bg-1-inverse); }

.text-1 {
  color: var(--text-1); }

.text-1-inverse {
  color: var(--text-1-inverse); }

.bg-2 {
  background-color: var(--bg-2); }

.bg-2-inverse {
  background-color: var(--bg-2-inverse); }

.text-2 {
  color: var(--text-2); }

.text-2-inverse {
  color: var(--text-2-inverse); }

.bg-3 {
  background-color: var(--bg-3); }

.bg-3-inverse {
  background-color: var(--bg-3-inverse); }

.text-3 {
  color: var(--text-3); }

.text-3-inverse {
  color: var(--text-3-inverse); }

@font-face {
  font-family: Cooper;
  src: url(../fonts/CoopLT.ttf);
  font-weight: 300; }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX7KVElMYYaJe8bpLHnCwDKhdTmvIRcdvfo.woff) format("woff"); }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX-KVElMYYaJe8bpLHnCwDKhdTuF6ZP.woff) format("woff"); }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX7KVElMYYaJe8bpLHnCwDKhdTmyIJcdvfo.woff) format("woff"); }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFscg.woff) format("woff"); }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdHeEw.woff) format("woff"); }

@font-face {
  font-display: auto;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFscg.woff) format("woff"); }

body {
  font-size: 1rem;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-3); }

.heading-1, .heading-2, .heading-3, .heading-4, .display-1, .display-2 {
  font-family: "Cooper", "Times New Roman", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.04rem; }

.display-1 {
  font-size: 5rem; }

.display-2 {
  font-size: 4rem; }

.heading-1 {
  font-size: 3rem; }

.heading-2 {
  font-size: 2.5rem; }

.heading-3 {
  font-size: 2rem; }

.heading-4 {
  font-size: 1.5rem; }

.body-display {
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.04rem; }

.body-lg {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6; }

.label-lg {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  line-height: 1.5;
  text-transform: uppercase; }

.label-sm {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.826;
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::-moz-selection {
  background-color: var(--bg-1-inverse);
  color: var(--text-1-inverse); }

*::selection {
  background-color: var(--bg-1-inverse);
  color: var(--text-1-inverse); }

html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0; }

.img-placeholder {
  background-color: var(--bg-3);
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  height: 530px; }

img {
  width: 100%; }

.wrapper {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem; }

.row.gapless {
  grid-gap: 0; }

.row.gapless-shim {
  grid-gap: 0.0625rem; }

.bg-blur-1 {
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem); }

.pad-0 {
  padding: 0; }

.pad-0125 {
  padding: .125rem; }

.pad-025 {
  padding: .25rem; }

.pad-05 {
  padding: .5rem; }

.pad-075 {
  padding: .75rem; }

.pad-1 {
  padding: 1rem; }

.pad-1_5 {
  padding: 1.5rem; }

.pad-2 {
  padding: 2rem; }

.pad-3 {
  padding: 3rem; }

.pad-4 {
  padding: 4rem; }

.pad-5 {
  padding: 5rem; }

.pad-6 {
  padding: 6rem; }

.pad-7 {
  padding: 7rem; }

.pad-8 {
  padding: 8rem; }

.pad-9 {
  padding: 9rem; }

.pad-10 {
  padding: 10rem; }

.pad-top-0 {
  padding-top: 0; }

.pad-top-0125 {
  padding-top: .125rem; }

.pad-top-025 {
  padding-top: .25rem; }

.pad-top-05 {
  padding-top: .5rem; }

.pad-top-075 {
  padding-top: .75rem; }

.pad-top-1 {
  padding-top: 1rem; }

.pad-top-2 {
  padding-top: 2rem; }

.pad-top-3 {
  padding-top: 3rem; }

.pad-top-4 {
  padding-top: 4rem; }

.pad-top-5 {
  padding-top: 5rem; }

.pad-top-6 {
  padding-top: 6rem; }

.pad-top-7 {
  padding-top: 7rem; }

.pad-top-8 {
  padding-top: 8rem; }

.pad-top-9 {
  padding-top: 9rem; }

.pad-top-10 {
  padding-top: 10rem; }

.pad-right-0 {
  padding-right: 0; }

.pad-right-0125 {
  padding-right: .125rem; }

.pad-right-025 {
  padding-right: .25rem; }

.pad-right-05 {
  padding-right: .5rem; }

.pad-right-075 {
  padding-right: .75rem; }

.pad-right-1 {
  padding-right: 1rem; }

.pad-right-2 {
  padding-right: 2rem; }

.pad-right-3 {
  padding-right: 3rem; }

.pad-right-4 {
  padding-right: 4rem; }

.pad-right-5 {
  padding-right: 5rem; }

.pad-right-6 {
  padding-right: 6rem; }

.pad-right-7 {
  padding-right: 7rem; }

.pad-right-8 {
  padding-right: 8rem; }

.pad-right-9 {
  padding-right: 9rem; }

.pad-right-10 {
  padding-right: 10rem; }

.pad-btm-0 {
  padding-bottom: 0; }

.pad-btm-0125 {
  padding-bottom: .125rem; }

.pad-btm-025 {
  padding-bottom: .25rem; }

.pad-btm-05 {
  padding-bottom: .5rem; }

.pad-btm-075 {
  padding-bottom: .75rem; }

.pad-btm-1 {
  padding-bottom: 1rem; }

.pad-btm-2 {
  padding-bottom: 2rem; }

.pad-btm-3 {
  padding-bottom: 3rem; }

.pad-btm-4 {
  padding-bottom: 4rem; }

.pad-btm-5 {
  padding-bottom: 5rem; }

.pad-btm-6 {
  padding-bottom: 6rem; }

.pad-btm-7 {
  padding-bottom: 7rem; }

.pad-btm-8 {
  padding-bottom: 8rem; }

.pad-btm-9 {
  padding-bottom: 9rem; }

.pad-btm-10 {
  padding-bottom: 10rem; }

.pad-left-0 {
  padding-left: 0; }

.pad-left-0125 {
  padding-left: .125rem; }

.pad-left-025 {
  padding-left: .25rem; }

.pad-left-05 {
  padding-left: .5rem; }

.pad-left-075 {
  padding-left: .75rem; }

.pad-left-1 {
  padding-left: 1rem; }

.pad-left-2 {
  padding-left: 2rem; }

.pad-left-3 {
  padding-left: 3rem; }

.pad-left-4 {
  padding-left: 4rem; }

.pad-left-5 {
  padding-left: 5rem; }

.pad-left-6 {
  padding-left: 6rem; }

.pad-left-7 {
  padding-left: 7rem; }

.pad-left-8 {
  padding-left: 8rem; }

.pad-left-9 {
  padding-left: 9rem; }

.pad-left-10 {
  padding-left: 10rem; }

.mar-0 {
  margin: 0; }

.mar-0125 {
  margin: .125rem; }

.mar-025 {
  margin: .25rem; }

.mar-05 {
  margin: .5rem; }

.mar-075 {
  margin: .75rem; }

.mar-1 {
  margin: 1rem; }

.mar-2 {
  margin: 2rem; }

.mar-3 {
  margin: 3rem; }

.mar-4 {
  margin: 4rem; }

.mar-5 {
  margin: 5rem; }

.mar-6 {
  margin: 6rem; }

.mar-7 {
  margin: 7rem; }

.mar-8 {
  margin: 8rem; }

.mar-9 {
  margin: 9rem; }

.mar-10 {
  margin: 10rem; }

.mar-top-0 {
  margin-top: 0; }

.mar-top-0125 {
  margin-top: .125rem; }

.mar-top-025 {
  margin-top: .25rem; }

.mar-top-05 {
  margin-top: .5rem; }

.mar-top-075 {
  margin-top: .75rem; }

.mar-top-1 {
  margin-top: 1rem; }

.mar-top-2 {
  margin-top: 2rem; }

.mar-top-3 {
  margin-top: 3rem; }

.mar-top-4 {
  margin-top: 4rem; }

.mar-top-5 {
  margin-top: 5rem; }

.mar-top-6 {
  margin-top: 6rem; }

.mar-top-7 {
  margin-top: 7rem; }

.mar-top-8 {
  margin-top: 8rem; }

.mar-top-9 {
  margin-top: 9rem; }

.mar-top-10 {
  margin-top: 10rem; }

.mar-right-0 {
  margin-right: 0; }

.mar-right-0125 {
  margin-right: .125rem; }

.mar-right-025 {
  margin-right: .25rem; }

.mar-right-05 {
  margin-right: .5rem; }

.mar-right-075 {
  margin-right: .75rem; }

.mar-right-1 {
  margin-right: 1rem; }

.mar-right-2 {
  margin-right: 2rem; }

.mar-right-3 {
  margin-right: 3rem; }

.mar-right-4 {
  margin-right: 4rem; }

.mar-right-5 {
  margin-right: 5rem; }

.mar-right-6 {
  margin-right: 6rem; }

.mar-right-7 {
  margin-right: 7rem; }

.mar-right-8 {
  margin-right: 8rem; }

.mar-right-9 {
  margin-right: 9rem; }

.mar-right-10 {
  margin-right: 10rem; }

.mar-btm-0 {
  margin-bottom: 0; }

.mar-btm-0125 {
  margin-bottom: .125rem; }

.mar-btm-025 {
  margin-bottom: .25rem; }

.mar-btm-05 {
  margin-bottom: .5rem; }

.mar-btm-075 {
  margin-bottom: .75rem; }

.mar-btm-1 {
  margin-bottom: 1rem; }

.mar-btm-2 {
  margin-bottom: 2rem; }

.mar-btm-3 {
  margin-bottom: 3rem; }

.mar-btm-4 {
  margin-bottom: 4rem; }

.mar-btm-5 {
  margin-bottom: 5rem; }

.mar-btm-6 {
  margin-bottom: 6rem; }

.mar-btm-7 {
  margin-bottom: 7rem; }

.mar-btm-8 {
  margin-bottom: 8rem; }

.mar-btm-9 {
  margin-bottom: 9rem; }

.mar-btm-10 {
  margin-bottom: 10rem; }

.mar-left-0 {
  margin-left: 0; }

.mar-left-0125 {
  margin-left: .125rem; }

.mar-left-025 {
  margin-left: .25rem; }

.mar-left-05 {
  margin-left: .5rem; }

.mar-left-075 {
  margin-left: .75rem; }

.mar-left-1 {
  margin-left: 1rem; }

.mar-left-2 {
  margin-left: 2rem; }

.mar-left-3 {
  margin-left: 3rem; }

.mar-left-4 {
  margin-left: 4rem; }

.mar-left-5 {
  margin-left: 5rem; }

.mar-left-6 {
  margin-left: 6rem; }

.mar-left-7 {
  margin-left: 7rem; }

.mar-left-8 {
  margin-left: 8rem; }

.mar-left-9 {
  margin-left: 9rem; }

.mar-left-10 {
  margin-left: 10rem; }

.mar-child-0 {
  margin: 0; }

.mar-child-0125 {
  margin: .125rem; }

.mar-child-025 {
  margin: .25rem; }

.mar-child-05 {
  margin: .5rem; }

.mar-child-075 {
  margin: .75rem; }

.mar-child-1 {
  margin: 1rem; }

.mar-child-2 {
  margin: 2rem; }

.mar-child-3 {
  margin: 3rem; }

.mar-child-4 {
  margin: 4rem; }

.mar-child-5 {
  margin: 5rem; }

.mar-child-6 {
  margin: 6rem; }

.mar-child-7 {
  margin: 7rem; }

.mar-child-8 {
  margin: 8rem; }

.mar-child-9 {
  margin: 9rem; }

.mar-child-10 {
  margin: 10rem; }

.mar-child-top-0 {
  margin-top: 0; }

.mar-child-top-0125 {
  margin-top: .125rem; }

.mar-child-top-025 {
  margin-top: .25rem; }

.mar-child-top-05 {
  margin-top: .5rem; }

.mar-child-top-075 {
  margin-top: .75rem; }

.mar-child-top-1 {
  margin-top: 1rem; }

.mar-child-top-2 {
  margin-top: 2rem; }

.mar-child-top-3 {
  margin-top: 3rem; }

.mar-child-top-4 {
  margin-top: 4rem; }

.mar-child-top-5 {
  margin-top: 5rem; }

.mar-child-top-6 {
  margin-top: 6rem; }

.mar-child-top-7 {
  margin-top: 7rem; }

.mar-child-top-8 {
  margin-top: 8rem; }

.mar-child-top-9 {
  margin-top: 9rem; }

.mar-child-top-10 {
  margin-top: 10rem; }

.mar-child-right-0 {
  margin-right: 0; }

.mar-child-right-0125 {
  margin-right: .125rem; }

.mar-child-right-025 {
  margin-right: .25rem; }

.mar-child-right-05 {
  margin-right: .5rem; }

.mar-child-right-075 {
  margin-right: .75rem; }

.mar-child-right-1 {
  margin-right: 1rem; }

.mar-child-right-2 {
  margin-right: 2rem; }

.mar-child-right-3 {
  margin-right: 3rem; }

.mar-child-right-4 {
  margin-right: 4rem; }

.mar-child-right-5 {
  margin-right: 5rem; }

.mar-child-right-6 {
  margin-right: 6rem; }

.mar-child-right-7 {
  margin-right: 7rem; }

.mar-child-right-8 {
  margin-right: 8rem; }

.mar-child-right-9 {
  margin-right: 9rem; }

.mar-child-right-10 {
  margin-right: 10rem; }

.mar-child-btm-0 {
  margin-bottom: 0; }

.mar-child-btm-0125 {
  margin-bottom: .125rem; }

.mar-child-btm-025 {
  margin-bottom: .25rem; }

.mar-child-btm-05 {
  margin-bottom: .5rem; }

.mar-child-btm-075 {
  margin-bottom: .75rem; }

.mar-child-btm-1 {
  margin-bottom: 1rem; }

.mar-child-btm-2 {
  margin-bottom: 2rem; }

.mar-child-btm-3 {
  margin-bottom: 3rem; }

.mar-child-btm-4 {
  margin-bottom: 4rem; }

.mar-child-btm-5 {
  margin-bottom: 5rem; }

.mar-child-btm-6 {
  margin-bottom: 6rem; }

.mar-child-btm-7 {
  margin-bottom: 7rem; }

.mar-child-btm-8 {
  margin-bottom: 8rem; }

.mar-child-btm-9 {
  margin-bottom: 9rem; }

.mar-child-btm-10 {
  margin-bottom: 10rem; }

.mar-child-left-0 {
  margin-left: 0; }

.mar-child-left-0125 {
  margin-left: .125rem; }

.mar-child-left-025 {
  margin-left: .25rem; }

.mar-child-left-05 {
  margin-left: .5rem; }

.mar-child-left-075 {
  margin-left: .75rem; }

.mar-child-left-1 {
  margin-left: 1rem; }

.mar-child-left-2 {
  margin-left: 2rem; }

.mar-child-left-3 {
  margin-left: 3rem; }

.mar-child-left-4 {
  margin-left: 4rem; }

.mar-child-left-5 {
  margin-left: 5rem; }

.mar-child-left-6 {
  margin-left: 6rem; }

.mar-child-left-7 {
  margin-left: 7rem; }

.mar-child-left-8 {
  margin-left: 8rem; }

.mar-child-left-9 {
  margin-left: 9rem; }

.mar-child-left-10 {
  margin-left: 10rem; }

.radius-025 {
  -webkit-border-radius: .25rem;
          border-radius: .25rem; }

.radius-05 {
  -webkit-border-radius: .5rem;
          border-radius: .5rem; }

.radius-075 {
  -webkit-border-radius: .75rem;
          border-radius: .75rem; }

.radius-1 {
  -webkit-border-radius: 1rem;
          border-radius: 1rem; }

.radius-1_25 {
  -webkit-border-radius: 1.25rem;
          border-radius: 1.25rem; }

.radius-1_5 {
  -webkit-border-radius: 1.5rem;
          border-radius: 1.5rem; }

.radius-2 {
  -webkit-border-radius: 2rem;
          border-radius: 2rem; }

.radius-3 {
  -webkit-border-radius: 3rem;
          border-radius: 3rem; }

.radius-1000 {
  -webkit-border-radius: 1000rem;
          border-radius: 1000rem; }

.radius-tl-025 {
  -webkit-border-top-left-radius: .25rem;
          border-top-left-radius: .25rem; }

.radius-tl-05 {
  -webkit-border-top-left-radius: .5rem;
          border-top-left-radius: .5rem; }

.radius-tl-075 {
  -webkit-border-top-left-radius: .75rem;
          border-top-left-radius: .75rem; }

.radius-tl-1 {
  -webkit-border-top-left-radius: 1rem;
          border-top-left-radius: 1rem; }

.radius-tl-1_25 {
  -webkit-border-top-left-radius: 1.25rem;
          border-top-left-radius: 1.25rem; }

.radius-tl-1_5 {
  -webkit-border-top-left-radius: 1.5rem;
          border-top-left-radius: 1.5rem; }

.radius-tl-2 {
  -webkit-border-top-left-radius: 2rem;
          border-top-left-radius: 2rem; }

.radius-tl-3 {
  -webkit-border-top-left-radius: 3rem;
          border-top-left-radius: 3rem; }

.radius-tl-1000 {
  -webkit-border-top-left-radius: 1000rem;
          border-top-left-radius: 1000rem; }

.radius-tr-025 {
  -webkit-border-top-right-radius: .25rem;
          border-top-right-radius: .25rem; }

.radius-tr-05 {
  -webkit-border-top-right-radius: .5rem;
          border-top-right-radius: .5rem; }

.radius-tr-075 {
  -webkit-border-top-right-radius: .75rem;
          border-top-right-radius: .75rem; }

.radius-tr-1 {
  -webkit-border-top-right-radius: 1rem;
          border-top-right-radius: 1rem; }

.radius-tr-1_25 {
  -webkit-border-top-right-radius: 1.25rem;
          border-top-right-radius: 1.25rem; }

.radius-tr-1_5 {
  -webkit-border-top-right-radius: 1.5rem;
          border-top-right-radius: 1.5rem; }

.radius-tr-2 {
  -webkit-border-top-right-radius: 2rem;
          border-top-right-radius: 2rem; }

.radius-tr-3 {
  -webkit-border-top-right-radius: 3rem;
          border-top-right-radius: 3rem; }

.radius-tr-1000 {
  -webkit-border-top-right-radius: 1000rem;
          border-top-right-radius: 1000rem; }

.radius-bl-025 {
  -webkit-border-bottom-left-radius: .25rem;
          border-bottom-left-radius: .25rem; }

.radius-bl-05 {
  -webkit-border-bottom-left-radius: .5rem;
          border-bottom-left-radius: .5rem; }

.radius-bl-075 {
  -webkit-border-bottom-left-radius: .75rem;
          border-bottom-left-radius: .75rem; }

.radius-bl-1 {
  -webkit-border-bottom-left-radius: 1rem;
          border-bottom-left-radius: 1rem; }

.radius-bl-1_25 {
  -webkit-border-bottom-left-radius: 1.25rem;
          border-bottom-left-radius: 1.25rem; }

.radius-bl-1_5 {
  -webkit-border-bottom-left-radius: 1.5rem;
          border-bottom-left-radius: 1.5rem; }

.radius-bl-2 {
  -webkit-border-bottom-left-radius: 2rem;
          border-bottom-left-radius: 2rem; }

.radius-bl-3 {
  -webkit-border-bottom-left-radius: 3rem;
          border-bottom-left-radius: 3rem; }

.radius-bl-1000 {
  -webkit-border-bottom-left-radius: 1000rem;
          border-bottom-left-radius: 1000rem; }

.radius-br-025 {
  -webkit-border-bottom-right-radius: .25rem;
          border-bottom-right-radius: .25rem; }

.radius-br-05 {
  -webkit-border-bottom-right-radius: .5rem;
          border-bottom-right-radius: .5rem; }

.radius-br-075 {
  -webkit-border-bottom-right-radius: .75rem;
          border-bottom-right-radius: .75rem; }

.radius-br-1 {
  -webkit-border-bottom-right-radius: 1rem;
          border-bottom-right-radius: 1rem; }

.radius-br-1_25 {
  -webkit-border-bottom-right-radius: 1.25rem;
          border-bottom-right-radius: 1.25rem; }

.radius-br-1_5 {
  -webkit-border-bottom-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem; }

.radius-br-2 {
  -webkit-border-bottom-right-radius: 2rem;
          border-bottom-right-radius: 2rem; }

.radius-br-3 {
  -webkit-border-bottom-right-radius: 3rem;
          border-bottom-right-radius: 3rem; }

.radius-br-1000 {
  -webkit-border-bottom-right-radius: 1000rem;
          border-bottom-right-radius: 1000rem; }

.radius-t-025 {
  -webkit-border-top-left-radius: .25rem;
          border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
          border-top-right-radius: .25rem; }

.radius-t-05 {
  -webkit-border-top-left-radius: .5rem;
          border-top-left-radius: .5rem;
  -webkit-border-top-right-radius: .5rem;
          border-top-right-radius: .5rem; }

.radius-t-075 {
  -webkit-border-top-left-radius: .75rem;
          border-top-left-radius: .75rem;
  -webkit-border-top-right-radius: .75rem;
          border-top-right-radius: .75rem; }

.radius-t-1 {
  -webkit-border-top-left-radius: 1rem;
          border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
          border-top-right-radius: 1rem; }

.radius-t-1_25 {
  -webkit-border-top-left-radius: 1.25rem;
          border-top-left-radius: 1.25rem;
  -webkit-border-top-right-radius: 1.25rem;
          border-top-right-radius: 1.25rem; }

.radius-t-1_5 {
  -webkit-border-top-left-radius: 1.5rem;
          border-top-left-radius: 1.5rem;
  -webkit-border-top-right-radius: 1.5rem;
          border-top-right-radius: 1.5rem; }

.radius-t-2 {
  -webkit-border-top-left-radius: 2rem;
          border-top-left-radius: 2rem;
  -webkit-border-top-right-radius: 2rem;
          border-top-right-radius: 2rem; }

.radius-t-3 {
  -webkit-border-top-left-radius: 3rem;
          border-top-left-radius: 3rem;
  -webkit-border-top-right-radius: 3rem;
          border-top-right-radius: 3rem; }

.radius-t-1000 {
  -webkit-border-top-left-radius: 1000rem;
          border-top-left-radius: 1000rem;
  -webkit-border-top-right-radius: 1000rem;
          border-top-right-radius: 1000rem; }

.radius-b-025 {
  -webkit-border-bottom-left-radius: .25rem;
          border-bottom-left-radius: .25rem;
  -webkit-border-bottom-right-radius: .25rem;
          border-bottom-right-radius: .25rem; }

.radius-b-05 {
  -webkit-border-bottom-left-radius: .5rem;
          border-bottom-left-radius: .5rem;
  -webkit-border-bottom-right-radius: .5rem;
          border-bottom-right-radius: .5rem; }

.radius-b-075 {
  -webkit-border-bottom-left-radius: .75rem;
          border-bottom-left-radius: .75rem;
  -webkit-border-bottom-right-radius: .75rem;
          border-bottom-right-radius: .75rem; }

.radius-b-1 {
  -webkit-border-bottom-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
  -webkit-border-bottom-right-radius: 1rem;
          border-bottom-right-radius: 1rem; }

.radius-b-1_25 {
  -webkit-border-bottom-left-radius: 1.25rem;
          border-bottom-left-radius: 1.25rem;
  -webkit-border-bottom-right-radius: 1.25rem;
          border-bottom-right-radius: 1.25rem; }

.radius-b-1_5 {
  -webkit-border-bottom-left-radius: 1.5rem;
          border-bottom-left-radius: 1.5rem;
  -webkit-border-bottom-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem; }

.radius-b-2 {
  -webkit-border-bottom-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
  -webkit-border-bottom-right-radius: 2rem;
          border-bottom-right-radius: 2rem; }

.radius-b-3 {
  -webkit-border-bottom-left-radius: 3rem;
          border-bottom-left-radius: 3rem;
  -webkit-border-bottom-right-radius: 3rem;
          border-bottom-right-radius: 3rem; }

.radius-b-1000 {
  -webkit-border-bottom-left-radius: 1000rem;
          border-bottom-left-radius: 1000rem;
  -webkit-border-bottom-right-radius: 1000rem;
          border-bottom-right-radius: 1000rem; }

.border {
  border: 1px solid var(--gray-2); }

.border-top {
  border-top: 1px solid var(--gray-2); }

.border-right {
  border-right: 1px solid var(--gray-2); }

.border-btm {
  border-bottom: 1px solid var(--gray-2); }

.border-left {
  border-left: 1px solid var(--gray-2); }

.border-shadow {
  -webkit-box-shadow: -1px 1px 0px 0px var(--gray-2) inset, 1px -1px 0px 0px var(--gray-2) inset;
          box-shadow: -1px 1px 0px 0px var(--gray-2) inset, 1px -1px 0px 0px var(--gray-2) inset; }

.border-top-shadow {
  -webkit-box-shadow: 0px 1px 0px 0px var(--gray-2) inset;
          box-shadow: 0px 1px 0px 0px var(--gray-2) inset; }

.border-right-shadow {
  -webkit-box-shadow: -1px 0px 0px 0px var(--gray-2) inset;
          box-shadow: -1px 0px 0px 0px var(--gray-2) inset; }

.border-btm-shadow {
  -webkit-box-shadow: 0px -1px 0px 0px var(--gray-2) inset;
          box-shadow: 0px -1px 0px 0px var(--gray-2) inset; }

.border-left-shadow {
  -webkit-box-shadow: 1px 0px 0px 0px var(--gray-2) inset;
          box-shadow: 1px 0px 0px 0px var(--gray-2) inset; }

.sc-absolute {
  position: absolute; }

.sc-relative {
  position: relative; }

.sc-fixed {
  position: fixed; }

.sc-sticky {
  position: -webkit-sticky;
  position: sticky; }

.sc-top-0 {
  top: 0; }

.sc-bottom-0 {
  bottom: 0; }

.sc-left-0 {
  left: 0; }

.sc-right-0 {
  right: 0; }

.flex-col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }

.min-content {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-justify-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-justify-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-align-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-justify-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-align-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.block {
  display: block; }

.block-child > * {
  display: block; }
