{% macro Button(props) %}
  {% if props.href %}
    <a class="btn btn--primary" href="{{ props.href }}">
      <span class="btn--label"> {{ props.label }} </span>
      {% if props.icon %} <span class="btn--icon">{% icon 'ArrowRight16' %}</span> {% endif %}
    </a>
  {% else %}
    <span class="btn btn--primary">{{ props.label }}</span>
  {% endif %}
{% endmacro %}
