{% from "components/Card.njk" import Card %}

{% macro CardGrid(props) %}
  <div class="project-grid row gapless-shim">
    {% for card in props.cards %}
      {{ Card({
        description: card.description,
        label: card.label,
        title: card.title
      }) }}
    {% endfor %}
  </div>
{% endmacro %}
