{% from "./Icon.njk" import Icon %}

{% macro Card(props) %}
  {% if props.href %} <a class="card" href="{{ props.href }}"> {% else %} <div class="card"> {% endif %}
    <div class="card--header">
      {% if props.label %}
        <span class="label-sm">{{ props.label }}</span>
      {% endif %}
      <h3 class="card--title">{{ props.title }}</h3>
      {% if props.button.show == true %}
        <span class="btn btn-faux">
          <span class="btn--label">{{ props.button.label }}</span>
          <span class="btn--icon">{{ Icon() }}</span>
        </span>
      {% endif %}
    </div>
    <div class="card--body">
      <p class="body-compact">{{ props.description }}</p>
      {% if props.hideIcon !== true %}
        <div class="card--actions">
          <span class="card--icon">{{ Icon({size: 24}) }}</span>
        </div>
      {% endif %}
    </div>
  {% if props.href %} </a> {% else %} </div> {% endif %}
{% endmacro %}
