{% macro Icon(props) %}
  <svg xmlns="http://www.w3.org/2000/svg" height="{{ props.size }}" width="{{ props.size }}" viewBox="0 0 14 11">
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <path class="cls-1" d="M8.67.13a.48.48,0,0,1,.7,0l4.5,5a.49.49,0,0,1,0,.66l-4.5,5a.5.5,0,1,1-.74-.66L12.38,6H.5a.5.5,0,0,1,0-1H12.38L8.63.83A.48.48,0,0,1,8.67.13Z"/>
      </g>
    </g>
  </svg>
{% endmacro %}
