<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ 'https://unpkg.com/aos@next/dist/aos.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/app.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body class="body">
    <header class="header bg-2-inverse pad-top-3">
      <div class="wrapper flex justify-space-between align-center">
        <div>
          <a href="{{ '/' | url }}">
            <img class="site-branding" src="/assets/img/cuppa-joey-3.svg" alt="Joseph Schultz" data-aos="fade-in">
          </a>
        </div>
        <nav class="main-nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}" class="label-sm" data-scroll data-aos="fade-in">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </nav>
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="footer bg-1-inverse pad-top-5 pad-btm-4">
      <div class="wrapper flex direction-col align-center">
        <img src="/assets/img/cj-icon.svg" height="30" alt="Icon of a coffee cup wearing a hat">
        <p class="mar-top-1 mar-btm-1 heading-4 text-2-inverse">Thank you for visiting!</p>
        <div class="social-nav">
          <a href="https://github.com/cuppajoey"><img src="/assets/img/github.svg" alt="Github Logo" width="20" height="20"></a>
          <a href="https://www.linkedin.com/in/cuppajoey"><img src="/assets/img/linkedin.svg" alt="LinkedIn Logo" width="20" height="20"></a>
          <a href="https://instagram.com/cuppajoey"><img src="/assets/img/instagram.svg" alt="Instagram Logo" width="20" height="20"></a>
        </div>
      </div>
    </footer>

    <script src="{{ 'https://unpkg.com/aos@next/dist/aos.js' | url }}"></script>
    <script>
      AOS.init({
        disable: "mobile"
      });
    </script>  
    <script src="{{ 'https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js' | url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/app.js' | url }}"></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
