---
layout: layouts/base.njk
templateClass: project
---
<article class="pad-top-5 pad-btm-5 text-1-inverse wrapper" style="max-width: 800px;">
  <header>
    <div class="meta">
      <span class="label-sm text-3">{{ year }}</span>
      <span class="label-sm text-3">{{ type }}</span>
    </div>
    <h1 class="heading-2 mar-btm-2 mar-top-05 text-1-inverse">{{ title }}</h1>
  </header>

  {{ content | safe }}

  {%- if collections.projects %}
    <aside class="pagination">
      {%- set nextPost = collections.projects | sort(true, false, 'data.year') | reverse | getNextCollectionItem(page) %}
      {%- set previousPost = collections.projects | sort(true, false, 'data.year') | reverse | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <div class="prev">Older »<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></div>
      {% endif %}
      {%- if nextPost %}
        <div class="next">« Newer<a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></div>
      {% endif %}
    </aside>
  {%- endif %}
</article>
